
    <div class="card shadow-lg h-100">
        <div class="card-header">
            <div class="card-title">Welcome</div>
        </div>
        <div class="card-body">
            <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facere in ea iste voluptate nostrum vel quibusdam eos similique obcaecati, distinctio suscipit maxime harum rerum modi blanditiis sint corrupti ad.</div>

        </div>
        <div class="card-footer">
            <button class="btn btn-success float-end">ADD TO CART</button>
        </div>
    </div>