<h1 class="text-center mb-4 mt-5">Login</h1>
<div class="row">
    <div class="col-sm-2 col-md-4"></div>
    <div class="col-sm-8 col-md-4">
        <form #ref="ngForm" (ngSubmit)="onLogin(ref)">
              <div class="mb-3">
                <label for="mail" class="form-label" >Email</label>
                <input type="email" class="form-control" id="mail" placeholder="enter email" name="email"ngModel>
              </div>
              <div class="mb-3">
                <label for="pw" class="form-label" >Password</label>
                <input type="password" class="form-control" id="pw" placeholder="enter password " name="password" ngModel>
              </div>
              <button type="submit" class="btn btn-success d-block mx-auto">Login</button>
        </form>
          
    </div>
    <div class="col-sm-2 col-md-4"></div>
</div>

