/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://i.pinimg.com/564x/b9/c8/f8/b9c8f893c9a782033a01f47e0c0b1d6e.jpg");
    background-size:100% 100%;
    background-attachment: fixed;
}